<header class="container sticky" id="header">
<!-- HEADER -->   
    <div class="header ">
        <div class="logo-box">
            <svg class="logo-svg" width="24" height="24">
                <use href="./icons/icons.svg#FORMA-ICON"></use>
            </svg>
        <p class="p-name">Forma’sint.</p>
        <p>idomods &#60/&#62</p>
        </div>
        <ul class="nav-list">
            <li>
                <a class="nav-link" href="#hero">Home</a>
            </li>
            <li>
                <a class="nav-link" href="#upcoming">Featured products</a>
            </li>
            <li>
                <a class="nav-link" href="#product">Product listing</a>
            </li>
        </ul>
        <div class="user-avatar-box">
            <svg class="user-avatar-svg" width="24" height="24">
                <use href="./icons/icons.svg#user-avatarSubtract"></use>
            </svg>
            <p class="user-name">Frontend developer</p>
        </div>
        <button type="button" class="hamburger-menu" id="hamburger-menu" data-action="openMenu">
            <svg width="17" height="11.27" class="hamburger-menu-icon" data-action="openMenu">
              <use href="./icons/icons.svg#icon-hamburger"></use>
              
            </svg>
            <p class="hamburger-menu-p" data-action="openMenu">menu</p>
        </button>
    </div>

<!-- HAMBURGER MENUE -->    
        <div class="hamburger-menu-box" id="hamburger-menu-box">
        <!-- <div class="hamburger-menu-box hamburger-open" id="hamburger-menu-box">   -->
        <div class="hamburger-menu-close-box">
            <svg class="logo-svg" width="24" height="24">
                <use href="./icons/icons.svg#FORMA-ICON"></use>

            </svg>
            <button type="button" class="hamburger-menu-button" data-action="closeMenu">
                <svg class="close-svg" width="13" height="13" data-action="closeMenu">
                    <use href="./icons/icons.svg#icon-modal_close"></use>
                </svg>
                <p class="close-p" data-action="closeMenu">close</p>  
            </button>
        </div>
        <ul class="hamburger-menu-nav">
            <li>
                <a href="#hero" class="nav-link" data-action="closeMenu">Home</a>
            </li>
            <li>
                <a href="#upcoming" class="nav-link" data-action="closeMenu">Featured products</a>
            </li>
            <li>
                <a href="#product" class="nav-link" data-action="closeMenu">Product listing</a>
            </li>
        </ul>

      </div>
    </div>

</header>