<section class="container" id="hero">
    <div class="hero-box">
        <svg class="name-svg">
            <use href="./icons/icons.svg#LOGO-FORMA"></use>
        </svg>

        <picture>
            <source media="(max-width: 360px)" srcset="./images/hero_photo_mobile.jpg 1x, ./images/hero_photo_mobile_x2.jpg 2x">
            <source media="(min-width: 361px)" srcset="./images/hero_photo.jpg 1x, ./images/hero_photo_x2.jpg 2x">
            <img class="hero-image" src="./images/hero_photo.jpg" alt="hero photo">
        </picture>
    </div>


</section>