<div class="backdrop" id="backdrop">
    <div class="modal modal-open" id="modal">
      <button type="button" class="modal-close-button" type="button" id="modal-close-button" data-action="closeModla">
        <svg class="modal-close-button-icon" data-action="closeModla">
          <use href="./icons/icons.svg#icon-modal_close"></use>
        </svg> 
        <p data-action="closeModla">close</p> 
      </button>
            <div class="modla-product-box" id="modla-box">

            </div>
    </div>
  </div>