<section class="container" id="product">
    <div class="product-box">
        <div class="select-box">
            <h2 class="select-box-h">Number of products per page</h2>
            <div class="custom-select">
                <select>
                    <option value="14">14</option>
                    <option value="26">26</option>
                    <option value="42">42</option>
                    <option value="54">54</option>
                    <option value="70">70</option>
                    <option value="82">82</option>
                    <option value="98">98</option>
                </select>
            </div>
        </div>
        <ul class="product-list" id="product-list">
            <li class="product-list-item">
                <div class="product-item-box">
                    <h3 class="product-item-h">ID: 01</h3>
                    <picture>
                        <img class="" src="./images/FILL_PHOTO.png" alt="product photo" data-action="openModla">
                    </picture>
                </div>
            </li>
        </ul>

    </div>
</section>