<section class="container" id="product">
    <div class="product-box">
        <div class="select-box">
            <h2 class="select-box-h">Number of products per page</h2>
            <div class="custom-select">
                <select class="select-list">
                    <option value="">14</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                  </select>
            </div>
        </div>
        <ul class="product-list" id="product-list">
            <li class="product-list-item">
                <div class="product-item-box">
                    <h3 class="product-item-h">ID: 01</h3>
                    <picture>
                        <img class="" src="./images/FILL_PHOTO.png" alt="product photo" data-action="openModla">
                    </picture>
                </div>
            </li>
        </ul>

    </div>
</section>