

<section class="container" id="upcoming">
    <div class="upcoming-product-box">
        <div class="upcoming-product">
            <p class="upcoming-product-p">Featured products</p>
            <h1 class="upcoming-product-title">Browse featured</h1>
        </div>
        <div class="slider-container" >
            <div class="slider-width" id="slider"></div>
        </div>
    </div>
    <button type="button" class="upcoming-prev-btn" data-action="loadPrev">
        <span class="upcoming-btn-span" data-action="loadPrev">&#129120</span>
    </button>
    <button type="button" class="upcoming-next-btn" data-action="loadNext">
        <span class="upcoming-btn-span" data-action="loadNext">&#129122</span> 
    </button>

 

</section>