*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h5,
ul,
li,
div,
svg,
img{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: black;
    text-decoration: none;
    list-style: none;
}

.container {
    position: relative;
    margin: 0 auto 0 auto;
    @media screen and (max-width: 360px) {
        width: 360px;
    }
    @media screen and (min-width: 361px) {
        width: 1920px; 
    }
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    z-index: 98;
  }

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    @media screen and (max-width: 360px) {
        height: 72px;
        padding: 24px 16px;
    }
    @media screen and (min-width: 361px) {
        height: 88px;
        padding: 32px 42px;

    }

}

.logo-box{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.01;
    color: #1D1D1D;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-svg{
    fill: black;
    margin-right:12px;
  }
.p-name{
    @media screen and (max-width: 360px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    @media screen and (min-width: 361px) {
        margin-right:32px;
    }
}  
.nav-list{

    @media screen and (max-width: 360px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    @media screen and (min-width: 361px) {
        display: flex;
        gap: 42px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.01;
        color: #1D1D1D;
        text-transform: uppercase;
    }
}

  a.nav-link::after{
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background: #1D1D1D;
    transition: transform 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  
  .nav-link:hover::after{
    transform: scaleY(1);
    transform-origin: bottom;
  }

.user-avatar-box{
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    @media screen and (max-width: 360px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    @media screen and (min-width: 361px) {
        
    }
}
.user-avatar-svg{
  fill: black;
  margin-right:12px;
}
.user-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.01;
    align-content: center;
  }
.hamburger-menu{
    @media screen and (max-width: 360px) {
        margin: 0;
        padding: 0;
        width: 80px;
        height: 24px;
        border:none;
        background-color: transparent;
        display: flex;
        gap: 11.5px;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 361px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}
.hamburger-menu-p{
    @media screen and (max-width: 360px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.01;
        color: #1D1D1D;
        text-transform: uppercase;
    }
    @media screen and (min-width: 361px) {
        @media screen and (min-width: 361px) {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    }
}
.hamburger-line{
    @media screen and (max-width: 360px) {
        width: 20px;
        height: 3px;
        border-radius: 2px;
        background-color: #000000;
    }
    @media screen and (min-width: 361px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}
.hamburger-menu-box{
    @media screen and (max-width: 360px) {
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: #FFFFFF;
        border: none;
        box-shadow: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding:24px 16px;
        transform: translateX(100%);
        transition: transform 250ms;
    }
    @media screen and (min-width: 361px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

.hamburger-open {
    transform: translateX(0%);
}

.hamburger-menu-close-box{
    @media screen and (max-width: 360px) {
        width: 340px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
}
.hamburger-menu-button{
    @media screen and (max-width: 360px) {
        width: 84px;
        height: 24px;
        border: none;
        background-color: transparent;
        display: flex;
        gap:8px;
        padding: 0;
        align-items: center;
    }
}

.hamburger-menu-icon,
.close-svg {
    @media screen and (max-width: 360px) {
        fill: black;
    }
}
.close-p {
    @media screen and (max-width: 360px) {
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.01;
        color: #1D1D1D;
        text-transform: uppercase;
    }
}
.hamburger-menu-nav {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.01;
    color: #1D1D1D;
    text-transform: uppercase;
}
.nav-item{
    height: 22px;
 }