.hero-box{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;

    @media screen and (max-width: 360px) {
        height: 740px;
        width: 328px;
        gap: 24px;
        padding-top: 136px;
    }
    @media screen and (min-width: 361px) {
        height: 1080px;
        width: 1836px;
        gap: 42px;
        padding-top: 168px;
    }
}
.name-svg{
    @media screen and (max-width: 360px) {
        width: 328px;
        height: 49px;
    }
    @media screen and (min-width: 361px) {
        width: 918px;
        height: 138px;
    }
}
.hero-image{

    @media screen and (max-width: 360px) {
        width: 328px;
        height: 530px;
        border-radius: 8px;
    }
    @media screen and (min-width: 361px) {
        width: 1836px;
        height: 732px;
        border-radius: 8px;
    }
}