.hero-box{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;

    @media screen and (max-width: 360px) {
        width: 328px;
    }
    @media screen and (min-width: 361px) {
        width: 1836px;

    }
}
.name-svg{

    @media screen and (max-width: 360px) {
        width: 328px;
        height: 49px;
        margin-bottom: 24px;
    }
    @media screen and (min-width: 361px) {

        width: 918px;
        height: 138px;
        margin-bottom: 42px;
    }
}
.hero-image{

    @media screen and (max-width: 360px) {
        width: 328px;
        height: 530px;
        border-radius: 8px;
    }
    @media screen and (min-width: 361px) {
        width: 1836px;
        height: 732px;
        border-radius: 8px;
    }
}