.modal {
    display: none;
    position: absolute;
    
    left: 50%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #EAEAE8;
    
    border-radius: 6px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 360px) {
        top: 140px;
        padding: 16px;
        width: 312px;
        min-height: 420px;
        transform: translate(-50%, 1%);
    }
    @media screen and (min-width: 361px) {
        top: 170px;
        padding: 32px;
        width: 840px;
        min-height: 620px;
        transform: translate(-50%, 10%);
    }
}

div.modal-open{
    display: block;
}

.backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 360px) {

    }
    @media screen and (min-width: 361px) {
    
    }
}

.modal-close-button {
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 84px;
    height: 24px;
    background-color: transparent;
    border: none;
    display: flex;
    gap:8px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,4;
    letter-spacing: -0.01;
    color: #1D1D1D;
    text-transform: uppercase;

}
.modal-close-button-icon {
    
    width: 14px;
    height: 14px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.modal-id {
    padding: 0;
    position: absolute;
    top: 24px;
    left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0 0 16px 0;
}
.modla-product-box{
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 360px) {
        width: 280px;
        height: 388px;

    }
    @media screen and (min-width: 361px) {
        width: 776px;
        height: 556px;
    }
}
.modla-image{
    @media screen and (max-width: 360px) {
        height: 388px;
    }
    @media screen and (min-width: 361px) {
        height: 556px;
    }
}


