.product-box{
    margin:0 auto 0 auto;
    @media screen and (max-width: 360px) {
        width: 328px;
    }
    @media screen and (min-width: 361px) {

    }
}
.select-box{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;


    @media screen and (max-width: 360px) {
        flex-direction: column;
        height: 62px;
        margin-bottom: 32px;
    }
    @media screen and (min-width: 361px) {
        height: 24px;
        margin-bottom: 64px;
    }
}
.select-box-h{
    font-weight: 500;
    font-size: 16px;
    line-height: 1,4;
    letter-spacing: -0.01;
    color: #1D1D1D;
    text-transform: uppercase;
}
.select-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    @media screen and (max-width: 360px) {

    }
    @media screen and (min-width: 361px) {
        
    }
}
.banner{

    display: flex;
    justify-items: center;
    background-image: url(../images/BANNER.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 6px;
    @media screen and (max-width: 360px) {
        width: 328px;
        height: 498px;
    }
    @media screen and (min-width: 361px) {
        width: 906px;
        height: 441px;
    }
    
}
.banner-box{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    @media screen and (max-width: 360px) {
        width: 328px;
        height: 434px;
    }
    @media screen and (min-width: 361px) {
        width: 714px;
        height: 377px;
    }
}
.banner-logo{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,4;
    letter-spacing: -0.01;
    color: #1D1D1D;
    text-transform: uppercase;
}
.banner-slogan{
    text-align: center;
    font-weight: 700;

    line-height: 1,2;
    letter-spacing: -0.02;
    color: #1D1D1D;
    text-transform: uppercase;
    @media screen and (max-width: 360px) {
        font-size: 32px;
    }
    @media screen and (min-width: 361px) {
        font-size: 42px;
    }
}
.banner-button{
    width: 262px;
    height: 48px;
    border-radius: 6px;
    padding: 12px 48px 12px 48px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,4;
    letter-spacing: -0.01;
    color: #1D1D1D;
    text-transform: uppercase;
    @media screen and (max-width: 360px) {
        background-color: #FFFFFF;
    }
    @media screen and (min-width: 361px) {
        background-color: #EAEAE8;
    }
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 360px) {
        width: 328px;
        gap: 12px;
        margin-bottom: 64px;
    }
    @media screen and (min-width: 361px) {
        width: 1836px;
        gap: 24px;
        margin-bottom: 42px;
    }
}
.product-list-item{
    display: flex;
    background-color: #EAEAE8;
    border-radius: 6px;
    @media screen and (max-width: 360px) {
        width: 158px;
        height: 158px;
    }
    @media screen and (min-width: 361px) {
        width: 441px;
        height: 441px;
    }
}
.product-item-box{

    margin: auto;
    position: relative;
    @media screen and (max-width: 360px) {
        width: 142px;
        height: 142px;
    }
    @media screen and (min-width: 361px) {
        width: 377px;
        height: 377px;  
    }
}
.product-item-h{
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (max-width: 360px) {
        text-align: center;
        font-weight: 500;
        font-size: 8px;
        line-height: 1,4;
        letter-spacing: -0.01;
        color: #1D1D1D;
        text-transform: uppercase;
    }
    @media screen and (min-width: 361px) {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1,4;
        letter-spacing: -0.01;
        color: #1D1D1D;
        text-transform: uppercase;
    }
}

.product-item-image{
    @media screen and (max-width: 360px) {
        width: 142px;
        height: 142px;
    }
    @media screen and (min-width: 361px) {
        width: 377px;
        height: 377px; 
    }
}

select{
    width: 75px;
    height: 24px;
    border: none;
    text-align: center;
}



@media screen and (max-width: 360px) {

}
@media screen and (min-width: 361px) {
    
}