.upcoming-prod-box{
    margin: 0 auto;
    @media screen and (max-width: var(--mobile)) {
        height: 577px;
        width: 328px;
        padding-top: 36px;
        padding-bottom: 32px;
    }
    @media screen and (min-width: var(--desktop)) {
        height: 900px;
        width: 1836px;
        padding-top: 96px;
        padding-bottom: 96px;
    } 
}

.upcoming-product{
    display: flex;
    flex-direction: column;

    @media screen and (max-width: var(--mobile)) {
        height: 64px;
        row-gap: 4px;
        margin-bottom: 32px;
    }
    @media screen and (min-width: var(--desktop)) {
        height: 78px;
        row-gap: 10px;
        margin-bottom: 42px;
    }
}
.upcoming-product-title{
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02;
    color: #1D1D1D;
    @media screen and (max-width: var(--mobile)) {
        font-size: 32px; 
    }
    @media screen and (min-width: var(--desktop)) {
        font-size: 42px; 
    }
}
.upcoming-product-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01;
    color: #1D1D1D;
    text-transform: uppercase;
}

.slider-container{
    position: relative;
    overflow-x: hidden;
    @media screen and (max-width: var(--mobile)) {
        width: 328px;
        height: 412px;
    }
    @media screen and (min-width: var(--desktop)) {
        width: 1836px;
        height: 590px;
    }
}
div.slider-width::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    background: #EAEAE8;
    @media screen and (max-width: var(--mobile)) {
        bottom: -32px;
    }
    @media screen and (min-width: var(--desktop)) {
        bottom: -64px;
    }    
  }
.slider-width{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top:0;
    transition: 0.4s ease-in-out;
    @media screen and (max-width: var(--mobile)) {
        gap: 16px;
    }
    @media screen and (min-width: var(--desktop)) {
        gap: 24px;
    }

}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media screen and (max-width: var(--mobile)) {
        width: 300px;
    }
    @media screen and (min-width: var(--desktop)) {
        width: 441px;
    }

}

.upcoming-product-box{
    position: relative;
    display: flex;
    background-color: #EAEAE8;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: var(--mobile)) {
        width: 300px;
        height: 300px;
    }
    @media screen and (min-width: var(--desktop)) {
        width: 441px;
        height: 441px;
    }
}

.upcoming-product-atr{
    display: flex;
    position: absolute;
    top:0;
    left:0;
    font-size: 16px;
    padding: 16px 16px 0 16px;
    width: 100%;
    justify-content: space-between;
}
.hart-svg{
    background-clip: content-box;
    fill: transparent;     
    @media screen and (max-width: var(--mobile)) {
        width: 19px;
        height: 17px;       
    }
    @media screen and (min-width: var(--desktop)) {
        width: 19px;
        height: 17px;   
    }
}
.hart-path{
    background-clip: content-box;
    fill: transparent;     
    transform: scale(0.5);
}
.hart-path:hover{
    fill: #1D1D1D; 
}
.upcoming-bestseller{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    background-color: #D9D6B0;
    padding: 0 auto 0 auto;
    text-transform: uppercase;
    height: 30px;  
}
.upcoming-limited-edition{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    background-color: #D4B0D9;
    padding: 0 auto 0 auto;
    text-transform: uppercase;
    height: 31px;  
}
.upcoming-product-label{
    line-height: 1;
    padding: 4px 12px; 
}
.upcoming-product-image{

    @media screen and (max-width: var(--mobile)) {
        width: 268px;
        height: 268px;
    }
    @media screen and (min-width: var(--desktop)) {
        width: 380px;
        height: 380px;

    }
}
.upcoming-product-description-box{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    @media screen and (max-width: var(--mobile)) {
        width: 300px;
    }
    @media screen and (min-width: var(--desktop)) {
        width: 441px;
    }
}
.upcoming-product-description{
    font-weight: 600;
    line-height: 1.2;
    color: #1D1D1D;
    text-align: left;
    @media screen and (max-width: var(--mobile)) {
        font-size: 18px;
    }
    @media screen and (min-width: var(--desktop)) {
        font-size: 22px;
    }
}
.upcoming-product-price{
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #1D1D1D;
    text-transform: uppercase;
}

div.item::after{
    content: "";
    position: absolute;
    width: 441px;
    height: 3px;
    display: block;
    background: #1D1D1D;
    transition: transform 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
    @media screen and (max-width: var(--mobile)) {
        bottom: -32px;
    }
    @media screen and (min-width: var(--desktop)) {
        bottom: -64px;
    }    
  }
 
div.item:hover::after{
    transform: scaleY(1);
    transform-origin: bottom;
  }

.upcoming-next-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    height: 72px;
    width: 72px;
    border-radius: 1000px;
    border: solid 1px #EAEAE8;
    background-color: #FFFFFF;
  
    @media screen and (max-width: var(--mobile)) {
      right: 10px;
      height: 52px;
      width: 52px;
    }
    @media screen and (min-width: var(--desktop)) {
      right: 52px;
      height: 72px;
      width: 72px;
    }
}
.upcoming-prev-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    border-radius: 1000px;
    border: solid 1px #EAEAE8;
    background-color: #FFFFFF;
  
    @media screen and (max-width: var(--mobile)) {
      left: 10px;
      height: 52px;
      width: 52px;
    }
    @media screen and (min-width: var(--desktop)) {
      left: 52px;
      height: 72px;
      width: 72px;
    }
  
}
.upcoming-btn-span{
    font-size: 20px;
}
